:root{
    --primary-color: hsl(0, 0%, 100%);
    --seconday-color: hsl(0, 0%, 20%);
    --nutral-color-body-bg: hsl(0, 0%, 8%);
    --neutral-color-body-bg: hsl(0, 0%, 12%);
    --tertiary-color: hsl(75, 94%, 57%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face{
    font-family: inter-Bold;
    src: url("assets/fonts/static/inter-Bold.ttf");
}
@font-face{
    font-family: inter-Regular;
    src:url("assets/fonts/static/Inter-Regular.ttf");
}
@font-face{
    font-family: inter-semiBold;
    src:url("assets/fonts/static/Inter-SemiBold.ttf");
}


body{
    font-family: "inter-semiBold";
    font-weight: 400;
    background-color: var(--neutral-color-body-bg);
    font-size: 14px;
    line-height: 1.9rem;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6{

}
::marker{

}
